*{
     font-family: "Roboto", sans-serif;
}

.header-left{
    cursor: pointer;
}
.meet,.date p{
    color: #616368;
}

.meet p{
    font-size: 20px;
    padding-top: 5px;
}

.date p{
    font-size: 20px;
    padding-top: 2px;
}
.profilepic img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
}

.support,.report,.settings,.apps{
    font-size: 25px;
    cursor: pointer;
}

.support i,.report i,.settings i,.apps i{
    color: #525252;
}

.apps{
    padding-left: 50px;

}
.videocall-join{
    border-bottom: 1px solid #d9dbdd;

}

.left-arrow,.right-arrow{
    padding-top: 160px;
}

.center-content{
    padding-top: 90px;
}

.right-content{
    padding-left: 185px;
}

.p p{
    color: #616368;
    font-size: 18px;
}

.video{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    background: #1a73e8;
}

.meeting{
   font-size: 18px;
   color: white;
   padding-left: 10px;
   outline: none;
   border: none;
   background: transparent;
}

.video-icon{
    color: white;
    font-size: 20px;
}

.entercode{
    width: max-content;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: white;
    border: 1px solid black;
    margin-left: 25px;
}

.codebox{
   font-size: 18px;
   padding-left: 10px;
   outline: none;
   border: none;
   background: transparent;
}

.keyboard{
    font-size: 20px;
    padding-left: 10px;
}

.join button {
    border: none;
    outline: none;
    background: white;
    font-size: 18px;
    color: #d9dbdd;
}

.join button:hover{
    color: #1a73e8;
}

.join{
    padding-left: 20px;
    padding-top: 10px;
}

@media screen and (max-width:500px) {
    .right-content{
        padding-left: 0px;
    }
    
    .linkimage{
        padding-left: 10px;
    }

    .image-1 img{
        width: 250px;
    }

    .heading h1{
        font-size: 24px;
    }
    
    .p p{
        font-size: 14px;
        width: 420px;
        text-align: center;
    }

    .learn {
        padding-left: 90px;
    }

    .video{
        padding: 8px;
    }

    .video-icon{
        font-size: 16px;
    }

    .meeting{
        font-size: 14px;
    }

    .keyboard{
        font-size: 14px;
    }

    .codebox{
        font-size: 14px;
    }

    .entercode{
        margin-left: 15px;
    }

    .join button {
        font-size: 14px;
        color: #1a73e8;
    }

    .join{
        padding-left: 10px;
        padding-top: 8px;
    }

    .googlemeetpic img{
        width: 100px;
        padding-top: 1px;
    }

    .meet p{
        font-size: 16px;
        padding-top: 5px;
    }

    .date p{
        font-size: 16px;
        padding-top: 5px;
    }

    .support,.report,.settings{
        display: none;
    }

    .apps{
        padding-left: 10px;
    }

    .apps i{
        font-size: 20px;
    }

    .profilepic img{
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-bottom-left-radius: 50%;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        margin-top: 5px;
    }

    .center-content{
        padding-top: 40px;
    }

    .left-content{
        padding-top: 40px;
    }



}